{% extends "layout.html" %}
{% block content %}

  <h3>{{name}}</h3>

    <table>
    <tr class="heading">
      <td>Pulsar</td>
      <td>RA</td>
      <td>Dec.</td>
      <td>Rise/Set LST</td>
    </tr>
    {% for i in range(n) %}
    <tr>
      <td>{{ names[i] }}</td>
      <td>{{ rajd[i] }}</td>
      <td>{{ decjd[i] }}</td>
      <td>{{ risesetlst[i] }}</td>
    </tr>
    {% endfor %}
    </table>

    <p><a href="/pulsars?lat={{ lat }}&lng={{ lng }}&p=1">First</a> |
    <a href="/pulsars?lat={{ lat }}&lng={{ lng }}&p={{ pagination.page - 1 }}">Prev</a> |
    <a href="/pulsars?lat={{ lat }}&lng={{ lng }}&p={{ pagination.page + 1 }}">Next</a> |
    <a href="/pulsars?lat={{ lat }}&lng={{ lng }}&p={{ pagination.pages - 1 }}">Last</a></p>

{% endblock %}
